@import url('https://fonts.googleapis.com/css?family=Raleway:wght@400;600|Open+Sans:300,400,600,700');

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: 4em;
}

p {
  display: block;
}

button {
  position: relative;
  outline: none;
  height: auto;
  line-height: 1em;
  padding: 1.4em 2em 1.2em;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: inherit;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

header {
  background-color: #252934;
}

header .title,
header .subtitle {
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}

header .title span {
  color: #1AE257;
  font-weight: 600;
}

header .subtitle {
  margin-top: 20px;
}

@media (min-width: 768px) {
  header .title,
  .header .title {
    font-size: 50px;
    line-height: 100%;
  }
}