body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
  display: block;
}

button {
  position: relative;
  display: inline-block;
  padding: 1.2em 2em;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}
